.nav {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 30px;
  z-index: 100;

  /*Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav .nav__logo {
  width: 80px;
  object-fit: contain;
  position: fixed;
  left: 20px;
}

.nav .nav__avatar {
  position: fixed;
  width: 30px;
  object-fit: contain;
  right: 20px;
}

.nav__black {
  background-color: #000;
}
